html {
  font-size: 62.5%; }
  html * {
    box-sizing: border-box; }
  html body {
    font-size: 1.4rem;
    padding: 20px;
    perspective: 800px;
    perspective-origin: 50% 50%;
    position: absolute;
    width: 1600px;
    height: 700px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  html H1 {
    position: absolute;
    top: 0; }
  html #AlphaLinks {
    display: inline-block;
    position: absolute;
    top: 70px;
    left: 18px;
    transform: rotate3d(0, 1, -0.3, 11deg) skewX(-3deg);
    transform-origin: top left; }
    html #AlphaLinks a {
      float: left;
      opacity: 1;
      display: inline-block;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 50px;
      height: 50px;
      line-height: 50px;
      margin: 3px;
      cursor: pointer;
      border: 1px solid #777;
      border-radius: 5px;
      color: #555;
      font-weight: 300;
      text-align: center;
      background: #f9f9ff;
      box-shadow: inset 0 0 3px #77f, -5px 5px 10px -3px RGBA(0, 0, 0, 0.2);
      transition: all 150ms ease-in-out; }
      html #AlphaLinks a.highlight {
        background: #fff9f9;
        box-shadow: inset 0 0 3px #f77, -5px 5px 10px -2px RGBA(0, 0, 0, 0.2); }
      html #AlphaLinks a:hover {
        width: 56px;
        height: 56px;
        line-height: 56px;
        margin: 0;
        color: #777;
        font-weight: 900;
        background: #fff;
        -webkit-box-shadow: inset 0 0 5px #00e, 0 4px 10px -2px RGBA(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 0 5px #00e, 0 4px 10px -2px RGBA(0, 0, 0, 0.1);
        box-shadow: inset 0 0 5px #00e, 0 4px 10px -2px RGBA(0, 0, 0, 0.1); }
      html #AlphaLinks a.disabled {
        opacity: 0.2; }
        html #AlphaLinks a.disabled:hover {
          width: 50px;
          height: 50px;
          line-height: 50px;
          margin: 3px;
          color: #555;
          font-weight: 300;
          background: #f9f9ff;
          -webkit-box-shadow: inset 0 0 4px #55f, 0 5px 10px -3px RGBA(0, 0, 0, 0.3);
          -moz-box-shadow: inset 0 0 4px #55f, 0 5px 10px -3px RGBA(0, 0, 0, 0.3);
          box-shadow: inset 0 0 4px #55f, 0 5px 10px -3px RGBA(0, 0, 0, 0.3); }
      html #AlphaLinks a:nth-of-type(3n+1) {
        clear: left; }
  html #Board {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 360px;
    width: 1000px;
    height: 600px;
    border-radius: 20px;
    border: 4px solid #bbb;
    border-bottom-color: #aaa;
    border-left-color: #999;
    background: linear-gradient(#f9f9f0, #e9e9e3, #d8d8d5);
    transform-style: preserve-3d;
    transform-origin: top;
    transform: rotate3d(1, 0, 0, 15deg);
    box-shadow: inset 0 0 60px #885, 0 15px 40px -3px RGBA(0, 0, 10, 0.5); }
    html #Board .card {
      opacity: 0;
      display: inline-block;
      position: relative;
      width: 230px;
      height: 300px;
      border-radius: 10px;
      border: 2px solid #776655;
      background: linear-gradient(#fff7dd, #f2e7cc);
      padding: 5px;
      left: 50%;
      top: 50%;
      margin-left: -125px;
      margin-top: -175px;
      zoom: 0.95;
      transition: all 200ms ease-in; }
      html #Board .card.visible {
        zoom: 1;
        opacity: 1; }
      html #Board .card:nth-of-type(1) {
        transform: translateX(-325px) translateZ(20px) rotate3d(0.9, -0.1, 1, -9deg);
        box-shadow: inset 0 0 18px #fff, -3px 4px 2px -2px RGBA(0, 0, 70, 0.5); }
      html #Board .card:nth-of-type(2) {
        transform: translateX(-275px) translateY(-10px) translateZ(30px) rotate3d(0.9, -0.1, 0.5, -9deg);
        box-shadow: inset 0 0 18px #fff, -3px 4.5px 3px -2px RGBA(0, 0, 70, 0.5); }
      html #Board .card:nth-of-type(3) {
        transform: translateX(-225px) translateY(-14px) translateZ(30px) rotate3d(1, 0, -0.1, -9deg);
        box-shadow: inset 0 0 18px #fff, -3px 5px 5px -2px RGBA(0, 0, 70, 0.5); }
      html #Board .card:nth-of-type(4) {
        transform: translateX(-175px) translateY(0px) translateZ(50px) rotate3d(0.5, -0.1, -0.5, -9deg);
        box-shadow: inset 0 0 18px #fff, -3px 5.5px 7px -2px RGBA(0, 0, 70, 0.5); }
      html #Board .card:nth-of-type(5) {
        transform: translateX(-125px) translateY(25px) translateZ(60px) rotate3d(0.9, -0.1, -3, -10deg);
        box-shadow: inset 0 0 18px #fff, -3px 6px 9px -2px RGBA(0, 0, 70, 0.5); }
      html #Board .card:hover {
        transition: all 600ms ease-in-out;
        transform: translateX(-225px) translateY(100px) translateZ(230px) rotate3d(1, 0, 0, -15deg) !important; }
      html #Board .card .name-plate {
        transform: rotate(90deg) translateX(10px) translateY(-23px);
        transform-origin: left top 0;
        position: absolute;
        left: 0;
        top: 0;
        font-weight: bold; }
      html #Board .card .sprite {
        width: 100px;
        height: 180px;
        background: white;
        border: 1px solid #ddd;
        position: absolute;
        margin-top: -30px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); }
      html #Board .card .details {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        border-top: 1px solid #dbb;
        background: RGBA(255, 255, 255, 0.5);
        padding: 15px;
        text-align: center; }

/*# sourceMappingURL=styles.css.map */
