@font-face {
  font-family: 'Pretendo';
  src: url("Pretendo.ttf"); }
@-ms-viewport {
  width: device-width; }
html {
  font-size: 62.5%; }
  html * {
    box-sizing: border-box; }
  html body {
    font-family: verdana, sans-serif;
    font-size: 1.4rem;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cbccc8)) fixed; }
    html body H1 {
      font-family: pretendo, sans-serif;
      font-size: 3rem;
      color: #444;
      letter-spacing: 2px;
      text-shadow: 0 4px 4px RGBA(155, 155, 155, 0.6);
      padding-left: 20px; }
    html body #CardHistoryLink {
      display: inline-block;
      position: absolute;
      top: 600px;
      left: 55px;
      height: 14px;
      width: 102px;
      font-family: pretendo, sans-serif;
      font-size: 1.23rem;
      white-space: nowrap;
      letter-spacing: 2px;
      color: #35f;
      text-shadow: -2px 4px 5px RGBA(55, 55, 55, 0.5);
      border-bottom: 1px solid #35f;
      box-shadow: -2px 8px 10px -3px RGBA(55, 55, 55, 0.2);
      transform: rotateY(30deg) rotateZ(2deg) scaleX(0.8) scaleY(1.2);
      transform-origin: 50% 50%;
      cursor: pointer;
      margin-top: 0;
      margin-bottom: 2px; }
      html body #CardHistoryLink:hover {
        color: #f33;
        border-bottom-color: #f33;
        text-shadow: -2px 4px 5px RGBA(55, 55, 55, 0.2); }
      html body #CardHistoryLink:active {
        margin-top: 2px;
        margin-bottom: 0; }
    html body button {
      font-family: 'Pretendo', sans-serif;
      border-radius: 100px;
      border: 3px solid #D00;
      color: #D00;
      background: white;
      padding: 6px 20px;
      box-shadow: 0 7px 10px -5px #77F;
      font-size: 1.4em;
      margin-bottom: 4px;
      margin-top: 0;
      height: 40px;
      position: relative;
      outline: 0; }
      html body button span {
        font-family: verdana, sans-serif; }
      html body button.disabled {
        opacity: 0.9; }
      html body button.ready:hover, html body button.ready:active {
        background: linear-gradient(#FFF, #FCC); }
      html body button.ready:active {
        top: 4px;
        box-shadow: 0 3px 10px -5px #77F; }
    html body p {
      margin-bottom: -5px; }
    html body main {
      position: fixed;
      width: 1600px;
      height: 700px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      perspective: 800px;
      perspective-origin: 50% 50%;
      z-index: 1; }
  html #MessageWindow .message-window-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: RGBA(255, 255, 255, 0.95);
    box-shadow: inset 0 -10px 300px #556;
    z-index: 90; }
  html #MessageWindow .message-window-container {
    z-index: 91; }
    html #MessageWindow .message-window-container .message-window {
      position: fixed;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: linear-gradient(#F9F9F0, #E9E9E3, #D8D8D5);
      border: 5px inset #77C;
      border-radius: 50px;
      box-shadow: 0 10px 10px -5px #333;
      z-index: 92;
      padding: 20px 50px; }
      html #MessageWindow .message-window-container .message-window .message-text {
        margin-bottom: 40px; }
      html #MessageWindow .message-window-container .message-window #HistoryTableContainer {
        display: none; }
        html #MessageWindow .message-window-container .message-window #HistoryTableContainer #NoHistoryMsg {
          display: none;
          margin: 40px 0; }
        html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper {
          position: relative;
          margin: 80px 0 30px; }
          html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll::-webkit-scrollbar {
            width: 12px;
            height: 12px; }
          html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll::-webkit-scrollbar-button {
            display: none; }
          html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll::-webkit-scrollbar-track-piece {
            background: transparent; }
          html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px; }
          html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll {
            width: 1000px;
            max-height: 350px;
            overflow: auto; }
            html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable {
              border-style: hidden !important; }
              html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable thead, html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable tbody {
                width: 1000px; }
                html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable thead tr:nth-child(even), html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable tbody tr:nth-child(even) {
                  background: RGBA(0, 0, 0, 0.05); }
                html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable thead tr:nth-child(1), html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable tbody tr:nth-child(1) {
                  background: RGBA(0, 0, 0, 0.15); }
                html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable thead th, html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable thead td, html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable tbody th, html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable tbody td {
                  padding: 10px 20px;
                  border-style: solid;
                  border-color: #bbb;
                  border-width: 0 1px 1px 0;
                  color: #333;
                  display: inline-block;
                  height: 50px;
                  width: 123px;
                  overflow: hidden;
                  text-align: center; }
                  html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable thead th[data-field], html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable thead td[data-field], html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable tbody th[data-field], html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable tbody td[data-field] {
                    padding-top: 15px; }
                  html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable thead th:first-child, html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable thead td:first-child, html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable tbody th:first-child, html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable tbody td:first-child {
                    width: 300px;
                    text-align: left; }
                  html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable thead th:last-child, html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable thead td:last-child, html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable tbody th:last-child, html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable tbody td:last-child {
                    width: 190px;
                    color: #999;
                    font-weight: normal;
                    border-right-width: 0;
                    text-align: center; }
              html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable thead {
                position: absolute;
                top: 0;
                transform: translateY(-100%);
                z-index: 2; }
                html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable thead th:last-child {
                  padding-top: 15px; }
              html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable #TemplateRow {
                display: none; }
              html #MessageWindow .message-window-container .message-window #HistoryTableContainer #HistoryTableWrapper #HistoryTableScroll #HistoryTable button {
                margin: 0 5%;
                font-family: sans-serif;
                font-weight: bold;
                font-size: 1rem;
                width: 35%;
                height: 30px;
                padding: 0;
                text-align: center; }
  html #MessageWindow .message-button {
    margin-top: 20px; }
  html #AlphaLinks {
    display: inline-block;
    position: absolute;
    top: 70px;
    left: 18px;
    transform: rotate3d(0, 1, -0.3, 11deg) skewX(-3deg);
    transform-origin: top left; }
    html #AlphaLinks a {
      float: left;
      opacity: 1;
      display: inline-block;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 50px;
      height: 50px;
      line-height: 50px;
      margin: 3px;
      cursor: pointer;
      border: 1px solid #777;
      border-radius: 5px;
      color: #555;
      font-weight: 300;
      text-align: center;
      background: #F9F9FF;
      box-shadow: inset 0 0 3px #77F, -5px 5px 10px -3px RGBA(0, 0, 0, 0.2);
      transition: all 150ms ease-in-out; }
      html #AlphaLinks a.highlight {
        background: #FFF9F9;
        box-shadow: inset 0 0 3px #F00, -5px 5px 10px -2px RGBA(0, 0, 0, 0.2); }
      html #AlphaLinks a:hover {
        width: 56px;
        height: 56px;
        line-height: 56px;
        margin: 0;
        color: #777;
        font-weight: 900;
        background: #FFF;
        -webkit-box-shadow: inset 0 0 5px #00E, 0 4px 10px -2px RGBA(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 0 5px #00E, 0 4px 10px -2px RGBA(0, 0, 0, 0.1);
        box-shadow: inset 0 0 5px #00E, 0 4px 10px -2px RGBA(0, 0, 0, 0.1); }
      html #AlphaLinks a.disabled {
        opacity: 0.2; }
        html #AlphaLinks a.disabled:hover {
          width: 50px;
          height: 50px;
          line-height: 50px;
          margin: 3px;
          color: #555;
          font-weight: 300;
          background: #F9F9FF;
          -webkit-box-shadow: inset 0 0 4px #55F, 0 5px 10px -3px RGBA(0, 0, 0, 0.3);
          -moz-box-shadow: inset 0 0 4px #55F, 0 5px 10px -3px RGBA(0, 0, 0, 0.3);
          box-shadow: inset 0 0 4px #55F, 0 5px 10px -3px RGBA(0, 0, 0, 0.3); }
      html #AlphaLinks a:nth-of-type(3n+1) {
        clear: left; }
  html #Board {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 360px;
    width: 1000px;
    height: 600px;
    border-radius: 20px;
    border: 4px solid #BBB;
    border-bottom-color: #AAA;
    border-left-color: #999;
    background: linear-gradient(#F9F9F0, #E9E9E3, #D8D8D5);
    transform-style: preserve-3d;
    transform-origin: top;
    transform: rotate3d(1, 0, 0, 15deg);
    box-shadow: inset 0 0 60px #885, 0 15px 40px -3px RGBA(0, 0, 10, 0.5);
    z-index: 10; }
    html #Board #Instructions {
      position: absolute;
      width: 100%;
      top: 35%;
      display: block;
      text-align: center;
      font-family: Impact, Fantasy, sans-serif;
      font-size: 4rem;
      color: #ddd;
      letter-spacing: 2px;
      text-shadow: 0 2px 2px RGBA(0, 0, 0, 0.7);
      padding-left: 20px;
      transition: all 500ms ease-in;
      z-index: 1; }
      html #Board #Instructions.faded {
        opacity: 0;
        text-shadow: 0 0 0 RGBA(0, 0, 0, 0);
        margin-top: 3px; }
    html #Board .card {
      opacity: 0;
      display: inline-block;
      position: relative;
      width: 230px;
      height: 300px;
      border-radius: 10px;
      border: 3px solid #eb3;
      background: linear-gradient(#FFF7DD, #F2E7CC);
      padding: 5px;
      left: 50%;
      top: 50%;
      margin-left: -125px;
      margin-top: -175px;
      zoom: 0.95;
      transition: all 200ms ease-in; }
      html #Board .card.visible {
        zoom: 1;
        opacity: 1; }
      html #Board .card:nth-of-type(1) {
        transform: translateX(-325px) translateZ(20px) rotate3d(0.9, -0.1, 1, -9deg);
        box-shadow: inset 0 0 18px #FFF, -3px 4px 2px -2px RGBA(0, 0, 70, 0.5);
        z-index: 11; }
      html #Board .card:nth-of-type(2) {
        transform: translateX(-275px) translateY(-10px) translateZ(30px) rotate3d(0.9, -0.1, 0.5, -9deg);
        box-shadow: inset 0 0 18px #FFF, -3px 4.5px 3px -2px RGBA(0, 0, 70, 0.5);
        z-index: 12; }
      html #Board .card:nth-of-type(3) {
        transform: translateX(-225px) translateY(-14px) translateZ(30px) rotate3d(1, 0, -0.1, -9deg);
        box-shadow: inset 0 0 18px #FFF, -3px 5px 5px -2px RGBA(0, 0, 70, 0.5);
        z-index: 13; }
      html #Board .card:nth-of-type(4) {
        transform: translateX(-175px) translateY(0px) translateZ(50px) rotate3d(0.5, -0.1, -0.5, -9deg);
        box-shadow: inset 0 0 18px #FFF, -3px 5.5px 7px -2px RGBA(0, 0, 70, 0.5);
        z-index: 14; }
      html #Board .card:nth-of-type(5) {
        transform: translateX(-125px) translateY(25px) translateZ(60px) rotate3d(0.9, -0.1, -3, -10deg);
        box-shadow: inset 0 0 18px #FFF, -3px 6px 9px -2px RGBA(0, 0, 70, 0.5);
        z-index: 15; }
      html #Board .card:hover {
        transition: all 600ms ease-in-out;
        transform: translateX(-225px) translateY(100px) translateZ(230px) rotate3d(1, 0, 0, -15deg) !important;
        z-index: 20; }
      html #Board .card .name-plate-side {
        transform: rotate(90deg) translateX(10px) translateY(-23px);
        transform-origin: left top 0;
        position: absolute;
        left: 0;
        top: 0;
        font-weight: bold; }
      html #Board .card .sprite {
        width: 100px;
        background: white;
        background: repeating-radial-gradient(#eef, #b8e7bf 5px, white 5px, white 10px);
        border: 1px solid #333;
        position: absolute;
        margin-top: -30%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); }
        html #Board .card .sprite img {
          max-height: 100px;
          max-width: 100px;
          margin: auto; }
      html #Board .card .details {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        border-top: 1px solid #DBB;
        background: RGBA(255, 255, 255, 0.5);
        padding: 15px;
        text-align: center;
        border-radius: 0 0 10px 10px; }
        html #Board .card .details .name-plate-main {
          padding: 2px;
          transform: translateY(-50%);
          transform-origin: left top 0;
          position: absolute;
          font-weight: bold;
          background: white;
          border: 1px solid #333;
          border-radius: 20px;
          width: 200px;
          text-align: center;
          left: auto;
          top: 0;
          background: linear-gradient(#eee, #fff, #eee); }
          html #Board .card .details .name-plate-main .adj-verb {
            font-size: 1.1rem;
            line-height: 1.0rem; }
          html #Board .card .details .name-plate-main .title {
            font-size: 1.6rem;
            line-height: 2.3rem;
            overflow: hidden;
            margin: 0 5px; }
        html #Board .card .details dt {
          display: inline-block;
          width: 60px;
          text-align: left; }
        html #Board .card .details dd {
          display: inline-block;
          width: 40px;
          text-align: right; }

/*# sourceMappingURL=styles.css.map */
